body {
  background-color: #d4c383;
}
.webpage-title{
  font-family: cursive;
  text-align: center;
  font-size: 38px;
}
.nav {
  position: sticky;
  top:0;
  width: 100%;
}
.nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #433d28;
  display: flex;
  justify-content: space-evenly;
}
.nav-li{
  cursor: pointer;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-li:hover:not(.active) {
  background-color: teal ;
}
.active {
  background-color: purple;
}
.nav-a{
  font-family: 'URW Chancery L', cursive;
  font-size: larger;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: center;
}

.big.big.div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe.card {
  font-family: 'URW Chancery L', cursive;
  display: flex;
  flex-direction: column;
  background-color: #f6f6b0;
  margin: 10px;
  width: 260px;
  height: auto;
  border: 10px, solid, #333;
  border-radius: 5px;
  border: solid 3px black;
}

.card.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
    max-height: 98px;
    max-width: 258px;
    margin: auto;
    margin-top: 5px;
}

.small.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
  align-items: center;
}
.recipe-card-btn{
  font-family: 'URW Chancery L', cursive;
  cursor: pointer;
}

.modal {
  position: fixed;
  background-color: rgba(0,0,0,0.75);
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transition: all 1.2s ease-in-out; */
}
.remove-btn{
  width: 25px;
  height: 20px;
  text-align: center;
}

.modal-content {
  width: 500px;
  background-color: #dcccbb;
  border: solid white 2px;
  border-radius: 2%;
}

.modal-header {
  padding: 10px;
}

.modal-title {
  margin: 0;
  font-family: 'URW Chancery L', cursive;
}

.modal-body {
  padding: 10px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: solid white 1px;
  max-height: 300px;
  overflow: auto;
}
.h3-modal{
  font-size: 23px;
}
.p-modal{
  font-size: 17px;
  font-family: 'URW Chancery L', cursive ;
}
.grandparent-submit-div{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.parent-submit-div{
  display: flex;
  flex-direction: row;
  background-color: #b3b385;
  border: solid goldenrod 8px;
  border-radius: 36%;
  width: 50%;
  height: auto;
  justify-content: center;
  padding-bottom: 10px;
}
.input-field{
  border: solid goldenrod 2px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.two-btn-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.one-btn-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.submit-button{
  cursor: pointer;
  background: #fc8e21;
  background-image: -webkit-linear-gradient(top, #fc8e21, #ed8937);
  background-image: -moz-linear-gradient(top, #fc8e21, #ed8937);
  background-image: -ms-linear-gradient(top, #fc8e21, #ed8937);
  background-image: -o-linear-gradient(top, #fc8e21, #ed8937);
  background-image: linear-gradient(to bottom, #fc8e21, #ed8937);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: cursive;
  color: #ffffff;
  font-size: 15px;
  padding: 4px 7px 4px 7px;
  text-decoration: none;
}
.submit-button:hover{
  background: #9d5309;
  background-image: -webkit-linear-gradient(top, #9d5309, #944c05);
  background-image: -moz-linear-gradient(top, #9d5309, #944c05);
  background-image: -ms-linear-gradient(top, #9d5309, #944c05);
  background-image: -o-linear-gradient(top, #9d5309, #944c05);
  background-image: linear-gradient(to bottom, #9d5309, #944c05);
  text-decoration: none;
}
.h2-fonts{
  font-family: 'URW Chancery L',cursive;
}
