.app {
  background-color: #d4c383;
}
.webpage-title{
  font-family: cursive;
  text-align: center
  ;
}
.nav {
  position: sticky;
  top:0;
  width: 100%;
}
.nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d4c383;
}
.nav-li{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-li:hover:not(.active) {
  background-color: teal ;
}
.active {
  background-color: purple;
}
.nav-a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: center;
}

.big.big.div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe.card {
  font-family: 'URW Chancery L', cursive;
  display: flex;
  flex-direction: column;
  background-color: #f6f6b0;
  margin: 10px;
  width: 260px;
  height: auto;
  border: 10px, solid, #333;
  border-radius: 5px;
  border: solid 3px black;
  cursor: pointer;
}

.card.image {
  display: block;
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 100px;
  padding: 5px;
  align-items: center;
}

.small.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
  align-items: center;
}

.modal {
  position: fixed;
  left: 50px;
  top: 50px;
  right: 50px;
  bottom: 50px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transition: all 1.2s ease-in-out; */
}

.modal-content {
  width: 500px;
  background-color: rgb(238, 29, 29);
}

.modal-header {
  align-items: center;
  padding: 10px
}

.modal-footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin: 0
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  max-height: 200px;
  overflow: auto;
}